#display-container {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.display1 {
    border: 1px solid blue;
    width: 70%;
    margin-left: -30%;
}

.display2 {
    border: 1px solid rosybrown;
}

#keys-container {
    border: 3px solid black;   
    display: flex;
    justify-content: center;
    align-self: center;
    height: 600px;
    width: 800px;
    margin: 0 auto;
}

.numbers-container {
    border: 3px solid yellow;   
    width: 50%;
    float: left;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}


.number {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}

.zero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 auto;
    margin-left: 36%;
}

#operators-container {
    border: 3px solid green;   
    width: 30%;
    float: left;
}

#equals-container {
    display: flex;
    align-items: center;
    height: 50%;
    border: 3px solid blueviolet;
    width: 20%;   
    float: right;
}

.operator {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}

.equals {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}